body {
	background-color:#111;
}

section nav {
	background-color:#333;
}

#menu, #menu ul {
	list-style:none;
	padding-left:15px;
}


#menu li {
	display:none;
}

#menu li>div {
	position:relative;	
	height:60px;
	line-height:60px;
	font-size:24px;	
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#menu li.open>ul>li {
	display:block;
}

#menu li>div>i {
	float:right;
    color: #CCC;	
}

#menu li.favorite>div>i {
    color: #ff005f;	
}


#menu>li {
	display:block;
}

* {
	color:#FFF;
}

.container-fluid {
	height:100vh;
	display:flex;
	flex-direction:column;
}


.container-fluid>section {
	flex:1;
}
